<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BoardSerialData.Properties.Settings.DB_Connection_Str"
            connectionString="Data Source=rs01;Initial Catalog=ManufacturingStore_v2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BoardSerialData.Properties.Settings.ManufacturingStore_RADConnectionString"
            connectionString="Data Source=rs01;Initial Catalog=ManufacturingStore_RAD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>